.container{
    .box{
        .cancel{
            position: absolute;
            top: 10%;
            left: 27%;
            color: rgb(9, 214, 9);
        }
        position: relative;
        .paragraphy{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 20px;
            color: rgb(9, 214, 9);
        }
        .empty{
            transition: all 1s ease;
            
            .green{
                transition: all 0.2s linear;
                top: 0;
                left: -400px;
                position: absolute;
                margin: 0 auto;
                width: 400px;
                height: 15px;
                background: rgb(9, 214, 9);
            }
            overflow: hidden;
            position: relative;
            margin: 20px auto;
            width: 400px;
            height: 15px;
            border: 1px solid black;
        }
        
        text-align: center;
        margin: 100px auto;
        width: 500px;
        height: 200px;
        border: 1px solid black;
    }
}